
*{  margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman", Georgia, Serif';
    font-size : 12pt;
}
#page{
  width: 80%;
  margin: 0 auto;
}
.form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 60px;
    border: 1px solid black;
    position: relative;
    border: none;
    background-color: whitesmoke;
}
#inscription{
  margin-top: 30px;
}

progress{
  width:200px;
  height: 25px;
  padding:2px;
  border:1px solid black;
  text-align:center
}
    
.Titre{
    margin : 0 auto;
    font-size: 2rem;
    color: black;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.labelmdp{
  position: relative;
}
.labelmdp .password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  color: black;
  transition: all 0.2s;
}

label .password-icon:hover {
  cursor: pointer;
  color: #ff4754;
}

label .password-icon .fa-eye-slash {
  display: none;
}
a{
    text-decoration: none;
}

input{
    font-size: 1.1rem;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
}
input:not([type="submit"]){
  background: rgb(227, 226, 226);
  color: rgba(65, 65, 65, 0.975);
  border: 1px solid grey;
}
.msg{
  padding-left: 5px;
  color:red;
  margin: 0 auto;
  font-size: 0.9rem;
  width: 250px;
  text-align: left;
  display: flex;
}
.msgImportant{
  padding-top: 10px;
  width: auto;
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
input[type=submit]{
  cursor: pointer;
  border-radius: 0;
  background: green;
  border: 1px solid green;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 200px;
  transition: 0.4s ease-in-out;
  color: rgb(213, 210, 210);
}
input[type=submit]:hover{
  background: white;
  border: 1px solid white;
  color: green;
}
@media screen and (max-width: 600px) {
    input{
        width: 80%;
    }
    .Titre{
        font-size: 1rem;
    }
}

