.titre {
    color: black;
    text-align: center;
    margin: 0 auto;
}

#nom{
    padding: 20px;
}

#containchoix{
    padding-bottom: 120px;
}
.div-choix {
    background: none;
    width: fit-content;
}

.choix {
    color: black;
    display: block;
}

.wrapper {
    min-height: 90vh;
}

.scoresPdf {
    min-height: 50vh;
}

.holder {
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 3.5rem;
    border-bottom: none;
}

.soustitre {
    font-size: 2rem;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important;
        /* Firefox 48 – 96 */
        print-color-adjust: exact !important;
        /* Firefox 97+, Safari 15.4+ */
    }
}